.player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to right, rgb(66, 66, 66, 0.7), rgb(138, 42, 42, 0.7), rgb(66, 66, 66, 0.7));
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    width: 12rem;
    transition: ease-in-out 225ms;

    span {
        font-size: 1.5rem;
        color: white;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;


    }

    div {
        width: 100%;
        display: flex;
        justify-content: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

    }

    img {
        width: 2rem;
        height: 2rem;
        object-fit: cover;
        padding-left: 0.2rem;
    }
}

.player-active {
    background-color: rgb(138, 42, 42) !important;
    background-image: linear-gradient(to right, rgb(138, 42, 42), rgb(138, 42, 42), rgb(66, 66, 66));
    filter: brightness(1.3);
    width: 15rem;
    transition: ease-in-out 225ms;
}
