
.field {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url("/assets/img/bg.jpg");
    z-index: -2;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    // position: relative;
}

.table {
    position: absolute;
    bottom: -8rem;
    left: 5rem;
}

.bgLayer {
    position: absolute;
    right: 00;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.cardStack {
    position: relative;
    transform: translateX(5rem);
    // transform: rotatey(60deg);
    transform: rotatez(180deg) rotatex(60deg) translateY(0rem) translateX(5rem);
    border: 20px solid white;
    margin-bottom: 1.5rem;
    top: 0;
    left: 0;

    img {
        position: absolute;
        left: 0;
        transform-origin: top;
        height: 7rem;
        padding-top: 2rem;
        &:hover {
            filter: brightness(1.25);
        }
    }
}

.playerPosition {
    position: absolute;
    right: 0;
}

// .topCard {
//     cursor: pointer;
//     &:hover {
//         transition: all 125ms ease-in-out;
//         transform: scale(1.1) translateY(-10px);
//     }
// }

.pickCard {
    animation: pickCardAnimation 0.5s ease-in-out;
    transform: scale(1.3) translateX(-13rem) translateY(5rem) rotate(-10deg);
}

.playedCard {
    transform: scale(1.8) translateX(-13rem) translateY(5rem) rotate(-10deg);
}

@keyframes pickCardAnimation {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.7);
    }

    80% {
        transform: scale(1.7);
    }
    100% {
        transform: scale(1.5) translateX(-13rem) translateY(5rem) rotate(-10deg);
    }
}

.btnAdd {
    position: absolute;
    bottom: 3rem;
    width: 3rem;
    height: 3rem;
    right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 6px 12px rgba(131, 130, 129, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
}

.btnAdd::before {
    content: "";
    border-radius: 1000px;
    min-width: 6rem;
    min-height: 6rem;
    border: 6px solid rgba(255, 163, 0, 1);
    box-shadow: 0 0 60px rgba(255, 163, 0, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
}

.btnAdd:hover {
    color: #ffffff;
    transform: translateY(-6px);
}

.btnAdd:hover::before {
    opacity: 1;
}

.btnAdd::after {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 100%;
    // border: 6px solid rgba(255, 163, 0, 1);
    position: absolute;
    z-index: 11111;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // animation: ring 1.5s infinite;
}

.btnBeginning::after{
        border: 6px solid rgba(255, 163, 0, 1);
        animation: ring 1.5s infinite;
}

.btnAdd:hover::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }

    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

.dNone {
    display: none;
}
