.field {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url("/assets/img/bg.jpg");
    // z-index: -2;
    background-position: center;
    background-size: cover;
    // background-position: bottom;
    display: flex;
    position: fixed;
    // justify-content: center;
    // align-items: center;
}

.onTable {
    position: relative;
    border: solid 5px blue;
    top: 20rem;
    // width: 30rem;
    // height: 30rem;
    @media (max-width: 960px) {
        left: 35%;
        top: calc(100% - 10rem);
    }
}

.table {
    display: flex;
    position: absolute;
    height: 80%;
    // bottom: -18rem;
    left: -8rem;

    // height: 90%;
    border: solid 5px green;

    // @media (max-width: 960px) {
    //     right: -5rem;
    //     width: min-content;
    // }

    @media (max-width: 960px) {
        display: none;
    }
}

.cardStack {
    position: relative;
    transform: rotatez(180deg) rotatex(60deg) translateY(0rem) translateX(5rem);
    border: 20px solid white;
    margin-bottom: 1.5rem;
    top: 4rem;
    left: 25rem;
    // display: none;

    @media (max-width: 960px) {
        transform: rotatez(0deg) rotatex(0deg) translateY(0rem) translateX(0rem);
        left: 0rem;
        bottom: 0rem;
        top: unset;
    }

    img {
        position: absolute;
        left: 0;
        transform-origin: top;
        height: 7rem;
        padding-top: 2rem;
        filter: brightness(1.25);
        &:hover {
            filter: brightness(1.5);
        }
        @media (max-width: 960px) {
            height: 5rem;
        }
    }
}

.playerPosition {
    position: absolute;
    right: 0;
}

$cardPosition: translateX(-14rem) translateY(0rem) rotate(-10deg);
$cardInterimPosition: translateY(-5rem);

$cardPositionMobile: translateX(0rem) translateY(0rem) rotate(0deg);
$cardInterimPositionMobile: translateY(0rem);

.pickCard {
    animation: pickCardAnimation 2s ease-in-out;
    transform: scale(1.3) $cardPosition;
}

// SCSS Variable
.playedCard {
    transform: scale(1.8) $cardPosition;
}

.pickCardMobile{
    // animation: pickCardAnimation 2s ease-in-out;
    transform: scale(1.3) $cardPositionMobile;
}

@keyframes pickCardAnimation {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(2.7) rotateZ(180deg) rotatex(0deg) rotatey(40deg) $cardInterimPosition;
    }
    80% {
        transform: scale(2.7) rotatez(180deg) rotatex(0deg) rotatey(40deg) $cardInterimPosition;
    }
    100% {
        transform: scale(1.5) $cardPosition;
    }
}

.btnAdd {
    position: absolute;
    bottom: 3rem;
    width: 4rem;
    height: 4rem;
    right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(138, 42, 42);
    box-shadow: 6px 6px 12px rgba(131, 130, 129, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;

    @media (max-width: 960px) {
bottom:1rem;
right: 1rem;
    }
}

.btnAdd::before {
    content: "";
    border-radius: 1000px;
    min-width: 6rem;
    min-height: 6rem;
    border: 6px solid rgba(255, 163, 0, 1);
    box-shadow: 0 0 60px rgba(255, 163, 0, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
}

.btnAdd:hover {
    color: #ffffff;
    transform: translateY(-6px);
}

.btnAdd:hover::before {
    opacity: 1;
}

.btnAdd::after {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 100%;
    // border: 6px solid rgba(255, 163, 0, 1);
    position: absolute;
    z-index: 11111;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // animation: ring 1.5s infinite;
}

.btnBeginning::after {
    border: 6px solid rgba(255, 163, 0, 1);
    animation: ring 1.5s infinite;
}

.btnAdd:hover::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }

    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

.dNone {
    display: none;
}
