<h1 mat-dialog-title>Add new Player</h1>
<div mat-dialog-content>
  <p>Please enter the name of the player</p>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="name"> 
     <!-- Bindung der Variable an Input Feld: Was sich im Input ändert, ändert sich auch in der Variable und umgekehrt -->
  </mat-form-field>
  
</div>


<button mat-icon-button [mat-menu-trigger-for]="addressMenu" >
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #addressMenu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Don't drink</button>
  <button mat-button (click)="playerCounter()" [disabled]="name.length == 0" [mat-dialog-close]="name" >Ok</button>
  <!-- <button mat-button (click)="playerCounter()" [disabled]="name.length == 0" [mat-dialog-close]="name" cdkFocusInitial>Ok</button> -->
</div>