body{
    margin: 0;
    overflow: hidden;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@media (min-width: 960px){
    .hide-desktop{
        display: none;
    }
}

@media (max-width: 960px){
    .hide-mobile{
        display: none;
    }
}