.instructionCard{
    position: absolute;
    top: 0;
    left: 0;
    right: 20rem;
    height: 5rem;
    text-align: center;
//     background-color: ;
background-image: linear-gradient(to right, rgba(66, 66, 66, 0.5), rgb(138, 42, 42), rgba(66, 66, 66, 0.5));
border-radius: 0 0 3rem 3rem;
}

.ngclassinstrcard{
    background-color: antiquewhite
}